.example-card {
    max-width: 400px;
  }
  
  #card1{
      float: right;
  }

  #card2{
      float: right;
      margin-right: 35px;
  }

  .btn{
      color: blue;
  }

.imgcss1{
    height: 250px;
}
.imgcss2{
    height: 250px;
}
.imgcss3{
    height: 250px;
}