<br><br>
<mat-card class="example-card" id="card1">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss1" mat-card-image src="https://firebasestorage.googleapis.com/v0/b/health-project-66c4d.appspot.com/o/doctors.jpg?alt=media&token=703842cb-de8a-4a98-af64-e2ff7bb94b28" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Our team of experts will be happy to assist you and keep 
        you going all the time even on the least good days, because we 
        at jce online care and we put our minds first to your health.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss2" mat-card-image src="https://firebasestorage.googleapis.com/v0/b/health-project-66c4d.appspot.com/o/coronavirus19.jpg?alt=media&token=b7d4c321-0993-4d47-9088-fa4633780c4b" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h4>Stay At Home</h4>
      <p>
        We stay here to heal you, You will stay home to save us.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" id="card3"> 
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img class="imgcss3" mat-card-image src="https://firebasestorage.googleapis.com/v0/b/health-project-66c4d.appspot.com/o/smail.jpg?alt=media&token=f0cfd600-ff52-43a1-8f2f-02af2380bd5c" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        jce online is a quality organization that strives for professionals in all fields, strives to provide excellent service and addresses the patient's purpose.      </p>
    </mat-card-content>
    <mat-card-actions>
      <a class="btn" mat-button>More details</a>
    </mat-card-actions>
  </mat-card>